/* BASE STYLING */

:root {
    font-size: 12x;
}
*,*::before,
::after {
    box-sizing: border-box;
}
 
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    font-size: ;
}

footer {
    background-color:#659f8f  ;
    color: rgb(39, 38, 38);
    padding: 40px 20px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.footer-news p {
    margin-bottom: 20px;
}

.form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-news input {
    padding: 10px;
    border: none;
    border-radius: 6px;
    flex: 1 1 200px;
}

.footer-news button {
    padding: 10px 18px;
    background-color: #d86943;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
/*--NEED TO ADD A HOVER TOO?--*/
.footer-news button:active {
    box-shadow: 0 0 5px blue;
}

.footer-links,
.footer-tech {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer-links ul,
.footer-tech ul {
    list-style: none;
    padding: 0;
}

.footer-links h4,
.footer-tech h4 {
    font-weight: 545;
    font-size: 17px;
    margin-bottom: 12px;
}

.footer-links li,
.footer-tech li {
    margin-bottom: 8px;
}

.footer-links a,
.footer-tech a {
    text-decoration: none;
    color: rgb(39, 38, 38);
}

.footer-links a:hover,
.footer-tech a:hover {
    text-decoration: none;
    color: #995037;
}

.footer hr {          /*--it won't change colour--*/
    border: none;
    height: 2px;
    background-color: #d86943;
    color: #d86943;
    margin: 20px 0;
    opacity: 0.8;
}

.footer-logo {
    text-align: center;
    width: 7%;
}

/*--
