/* BASE STYLING */

:root {
    font-size: 12x;
}
*,*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    display:flex;
}

section {
    padding: 80px 13% 17px;
}

.footer {
    display: flex;
    background-color:#659f8f  ;
    color: rgb(39, 38, 38);
}

.footer-news p {
    font-size: 16px;
    text-align: left;
    line-height: 30px;
    margin-bottom: 10px;
}

.form {
  margin-top: 10px;
}

.footer-news input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 180px;
    max-width: 60%;
    font-size: 0.9rem;
}

.footer-news button {
    padding: 10px 15px;
    background-color: #d86943;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}


/*--NEED TO ADD A HOVER TOO?--*/
.footer-news button:active {
    box-shadow: 0 0 5px blue;
}

.link-column {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-row: auto;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
}

.link-column h4{
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.link-column ul {
    list-style: none;
}

.link-column li {
    margin-bottom: 12
    font-size: 14px;
}

.link-column a {
    display: block;
    text-decoration: none; 
    color:  rgb(39, 38, 38);
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.link-column a:hover {
    text-decoration: none;
    color: #995037;
}

.footer hr {          /*--it won't change colour--*/
    border: none;
    height: 2px;
    background-color: #d86943;
    color: #d86943;
    margin: 20px 0px;
    opacity: 0.8;
}

.footer-logo {
    text-align: center;
    margin-top: 200px;
    max-width: 150px;
   
}


/*--MEDIA QUERIES--*/
/*--iPAD MINI-768PX--*/
@media (max-width: 768px) {
     footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .link-column ul {
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .footer-news input {
        width: 100%;
    }
}

/*--iPHONE SE--375px*/
@media (max-width: 375px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-news input {
       width: 100%;
       margin-bottom: 10px;
       border-radius: 4px;
    }

    .footer-news button {
        width: 100%;
        border-radius: 4px;
    }
}